<h1 id="pageHeading">New invoice</h1>
<div id="form-container-invoice">
    <form action="/invoices/create" method="POST">   
        
        <div>
            <label for="selectedProfile">Customer:</label>
            <select id="selectedProfile" name="selectedProfile"  >
                <option >choose the customer</option>
                <% profiles.forEach(profile => { %>
                    <option value="<%= profile._id %>"><%= profile.name %></option>
                <% }); %>
            </select>
        </div>
        
        <div>
            <label for="invoiceNumber">Invoice Number:</label>
            <input id="invoiceNumber" name="invoiceNumber" type="text" value=<%= invoice.invoiceNumber ? invoice.invoiceNumber : '' %> >
        </div>
 
        
        <div>
            <label for="issueDate">Issued Date:</label>
            <input id="issueDate"  name="issueDate" type="date"  value="<%=invoice.issueDate ? invoice.issueDate.toISOString().split('T')[0]: '' %>"/>
        </div>
        <div>
            <label for="dueDate">Due Date:</label>
            <input id="dueDate" name="dueDate" type="date" value="<%=invoice.dueDate ? invoice.dueDate.toISOString().split('T')[0] : '' %>"/>
        </div>
        <div id="line-items">
            <div class="line-item">
                <label for="line-items">Product:</label>
                <select  name="purchasedProduct[]">
                    <option value=""></option>
                    <% products.forEach(product => {%>
                     <option  value="<%= product._id%>"><%=product.productName%></option>
                    <%});%>
                </select>
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity[]" min="1" placeholder="0">
            </div>
        </div>
        <button type="button" id="add-line-item" class="btn btn-primary">+ Add Another Line Item</button>
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
        <a href="/invoices">
            <button type="button" class="btn btn-danger">Cancel</button>
          </a>
    </form>
</div>
<%= errorMessage %>
<script>
    document.getElementById('add-line-item').addEventListener('click', function() {
    // Clone the first .line-item
    var original = document.querySelector('.line-item');
    var clone = original.cloneNode(true);

    // Optionally reset the value of the inputs in the clone
    clone.querySelector('select[name="purchasedProduct[]"]').selectedIndex = 0;
    clone.querySelector('input[name="quantity[]"]').value = '';
    console.log("add rows", clone)
    
    // Append the clone to the #line-items container
    document.getElementById('line-items').appendChild(clone);
});
    
</script>