<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuan He - A04</title>
    <link rel="stylesheet" type="text/css" href="/styles/invoice-style.css">
</head>
<% for (let i = 0; i < invoices.length; i++) { %> 
    <% if (invoices[i].id === invoiceId) { %>
<body>
    <main>
     <header class="flexbox-header">
        <div class="logo-company">
            <img src="/images/logo.png" alt="Company Logo">
            <div>
                <p>Kai & Chuan Company
                <br>123 Example Street<br>suite 101<br> Eaxmpleton.BC<br>A1A 1A1
                <br>ac@kaichuan.com</p>
            </div>
        </div>
        <div class="invoice-number">
            <p>Invoice No.  <%= invoices[i].invoiceNumber %></p>
        </div>
     </header>

     <section class="flexbox-summary">
        <div class="client-info">
            <h3>Bill To:</h3>
            <p> <%= invoices[i].profile.name %>
                <br><%= invoices[i].profile.company %>
                <br>address is unknown
                <br>email: <%= invoices[i].profile.email %>
               </p>
        </div>
        <div class="flexbox-invoice-info">
            <div class="inner">
                <h5>ISSUE DATE</h5>
                <p><%= new Date(invoices[i].issueDate).toISOString().split('T')[0] %></p>
            </div>
            <div class="inner">
                <h5 >PLEASE PAY</h5>
                <p>CAD <%= invoices[i].totalDue %></p>
            </div>
            <div class="inner">
                <h5>DUE DATE</h5>
                <p><%= new Date(invoices[i].dueDate).toISOString().split('T')[0] %></p>
            </div>
           
        </div>
     </section>

     <section class="flexbox-billable">
        <div>
            <div>
              <h2 class="flex-item">ITEM</h2>
              <% for (let i=0;i<invoice.products.length;i++) {%>
                <p><%=invoice.products[i].productName%></p>
              <%}%>
            </div>
                 
            <div class="flex-item">
              <h2 class="heading">QTY</h2>
              <% for (let i=0;i<invoice.products.length;i++) {%>
                <p><%=invoice.products[i].QTY%></p>
              <%}%>
            </div>
            <div class="flex-item">
              <h2 class="heading">RATE</h2>
              <% for (let i=0;i<invoice.products.length;i++) {%>
                <p><%=invoice.products[i].unitCost%></p>
              <%}%>
            </div>
            <div class="flex-item justify-right">
              <h2 class="heading">AMOUNT</h2>
              <% for (let i=0;i<invoice.products.length;i++) {%>
                <p><%=(invoice.products[i].unitCost*invoice.products[i].QTY).toFixed(2)%></p>
              <%}%>
            </div>
         
        </div>
     </section>

     <section class="flexbox-payment">
        <div class="payment-instructions">
            <p>Please remit payment via Interac E-transfer to</p>
            <p>ac@kaichuan.com</p>
        </div>
        <div class="total-due"><strong>Total Due:</strong> <%= invoices[i].totalDue %></div>
     </section>
     <footer class="flexbox-footer">
        <div>© 2023 Kai & Chuan Company</div>
     </footer>
    </main>
 
</body>
<% } %> 
<% } %> 
</html>