<h1 id="pageHeading">New invoice</h1>
<div id="form-container">
    <form action="/invoices/create" method="POST">   
        
        <div>
            <label for=" profile">customer:</label>
            <select id="selectedProfile" name="selectedProfile"  >
                <option >choose the customer</option>
                <% profiles.forEach(profile => { %>
                    <option value="<%= profile._id %>"><%= profile.name %></option>
                <% }); %>
            </select>
        </div>
        
        <div>
            <label for="invoiceNumber">invoiceNumber:</label>
            <input id="invoiceNumber" name="invoiceNumber" type="text" value=<%= invoice.invoiceNumber ? invoice.invoiceNumber : '' %> >
        </div>
 
        
        <div>
            <label for="issueDate">issueDate:</label>
            <input id="issueDate" name="issueDate" type="date" value=<%= invoice.issueDate ? invoice.issueDate : '' %> >
        </div>
        <div>
            <label for="dueDate">dueDate:</label>
            <input id="dueDate" name="dueDate" type="date" value=<%= invoice.dueDate ? invoice.dueDate : '' %> >
        </div>
        <div id="line-items">
            <!-- Single line item -->
            <div class="line-item">
                <select name="purchasedProduct[]">
                    <option value=""></option>
                    <% products.forEach(product => {%>
                     <option value="<%= product._id%>"><%=product.productName%></option>
                    <%});%>
                </select>
                <input type="text" name="quantity[]" placeholder="Quantity">
                <!-- More fields as needed -->
            </div>
        </div>
        <button type="button" id="add-line-item">+ Add Another Line Item</button>
      
        
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
    </form>
</div>
<%= errorMessage %>
<SCript src="/public/scripts/invoice-builder.js"></SCript>