

    <head>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <main>
        <div class="header-container">
            <h1>Products</h1>
            <form action="/products/search" method="GET">
              <input class="searchbar" type="text" name="q" placeholder="Search by product name">
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="header-container">
            <a class="btn btn-success" href="/products/create">Add New Product</a> <!--change path name to the one you create if needed-->
        </div>

        <div id="list-container">
            <table>
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Product Code</th>
                  <th>Unit Cost</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach(product => { %>
                  <% if (product && product.productName && product._id) { %>
                    <tr class="clientsNames">
                      <td>
                        <a href="/products/<%= product._id %>"><%= product.productName %></a>
                      </td>
                      <td><%= product.productCode %></td> 
                      <td>$<%= product.unitCost %></td> 
                      <td>
                        <a href="/products/<%= product._id%>/delete">
                          <button class="btn btn-danger">Delete</button>
                        </a>
                      </td>
                    </tr>
                  <% } %>
                <% }) %>
              </tbody>
            </table>
          </div>
    </main>
