<h1 id="pageHeading">New User</h1>
<div id="list-container">
    <div>
      <form action="/users/create" method="POST">
        <table>
          <tbody>
            <tr>
              <td>User Name:</td>
              <td>
                <input
                  name="username"
                  type="text"
                  value="<%= user.username ? user.username : '' %>"
                />
              </td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>
                <input
                  name="email"
                  type="text"
                  value="<%= user.email ? user.email : '' %>"
                />
              </td>
            </tr>
            <tr>
              <td>Company name:</td>
              <td>
                <input
                  name="companyName"
                  type="text"
                  value="<%= user.companyName ? user.companyName : '' %>"
                />
              </td>
            </tr>
            <tr>
              <td>Company Code:</td>
              <td>
                <input
                  name="companyCode"
                  type="text"
                  value="<%= user.companyCode ? user.companyCode : '' %>"
                />
              </td>
            </tr>
            <tr>
                <% if(reqInfo.roles.includes("Admin") ) { %>
                  <td>Roles:</td>
                  <td>
                    <select name="roles">
                
                      <option value="RegUser" <% if(user.roles === 'RegUser') { %>selected<% } %>>RegUser</option>
                      <option value="Admin" <% if(user.roles === 'Admin') { %>selected<% } %>>Admin</option>
                      <option value="Manager" <% if(user.roles === 'Manager') { %>selected<% } %>>Manager</option>
                    </select>
                  </td>
                <% } %>
              </tr>
          
            <tr>
              <td></td>
              <td><input type="submit" value="Submit" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

  </div>
<%= errorMessage %>
