<h1 id="pageHeading">New Client</h1>
<div id="list-container">
    <div>
      <form action="/users/create" method="POST">
        <table>
          <tbody>
            <tr>
              <td>User Name:</td>
              <td>
                <input
                  name="username"
                  type="text"
                  value="<%= user.username ? user.username : '' %>"
                />
              </td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>
                <input
                  name="email"
                  type="text"
                  value="<%= user.email ? user.email : '' %>"
                />
              </td>
            </tr>
            <tr>
              <td>Company name:</td>
              <td>
                <input
                  name="companyName"
                  type="text"
                  value="<%= user.companyName ? user.companyName : '' %>"
                />
              </td>
            </tr>
            <tr>
              <td>Company Code:</td>
              <td>
                <input
                  name="companyCode"
                  type="text"
                  value="<%= user.companyCode ? user.companyCode : '' %>"
                />
              </td>
            </tr>
            <tr>
              <td>Roles:</td>
              <td><input 
                name="roles" 
                type="text"
                value="<%= user.roles ? user.roles : '' %>"
                
                /></td>
            </tr>
          
            <tr>
              <td></td>
              <td><input type="submit" value="Submit" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

  </div>
<%= errorMessage %>
