<head>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<main id="mainContainer">
  <h1>your Invoices</h1>
  


  <div id="list-container">
    <table>
      <thead>
        <tr>
          <th>Invoice No.</th>
          <th>Status</th>
          <th>Payee</th>
          <th>Due Amount</th>
          <th>Issue Date</th>
          <th>Due Date</th>
          
        </tr>
      </thead>
      <tbody>
        <% userInvoices.forEach(invoice => { %>
          <% if (invoice && invoice._id) { %>
            <tr class="invoices-list">
              <!-- Make the invoice number a link to the invoice details -->
              <td>
                <a href="/invoices/<%= invoice._id %>" target="_blank">
                  <%= invoice.invoiceNumber %>
                </a>
              </td>
              <td><%= invoice.paid ? "Paid" : "Pending paid" %></td>
              <td><%= invoice.user.username %></td>
              <td>$<%= invoice.totalDue.toFixed(2) %></td>
              <td><%= invoice.issueDate.toDateString().slice(4) %></td>
              <td><%= invoice.dueDate.toDateString().slice(4) %></td>
            </tr>
          <% } %>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>


  