<h1>My Profile</h1>

Username: <%= userInfo.user.username %><br />
Company:  <%= userInfo.user.companyName %><br />
Company code: <%= userInfo.user.companyCode %><br />
Email: <%= userInfo.user.email %><br />

<% if(reqInfo.roles?.length) { %> Roles: <%= reqInfo.roles %> <% } %>
